/* * {
     box-sizing: border-box 
} */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    /* padding-top: 0!important; */
}

.mslide {
    display: none
}

.slideshow {
    margin-top: 38px;
}


/* img {
    vertical-align: middle;
} */


/* Slideshow container */

.slideshow-container {
    background-color: black;
    /* height: 670px; */
    /* height: 650px; */
    /* margin: auto; */
}


/* Next & previous buttons */

.prev1,
.next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    text-decoration: none;
    background-color: #000;
    opacity: 0.7;
}


/* Position the "next button" to the right */

.next1 {
    right: 0;
    border-radius: 5px 0 0 5px;
}


/* On hover, add a black background color with a little bit see-through */

.prev1:hover,
.next1:hover {
    color: #ff6600;
    font-weight: bold;
    opacity: 0.7;
}


/* Caption text */


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */

.dot1 {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activ {
    background-color: transparent;
    border: 4px solid #ff6600;
}

.dot1:hover {
    background-color: #fff;
    border: 4px solid #01134d;
}

.dots1 {
    width: 200px;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    margin-top: -45px;
    z-index: 1;
    /* background-color: aquamarine; */
}

.tor {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}


/* Fading animation */

.fades {
    animation-name: fades;
    animation-duration: 4s;
}

@keyframes fades {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.alumni-menu {
    margin-top: -16px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    padding: 10px;
}

.lin {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    padding: 7px;
    font-weight: 900;
    color: #01134d;
    border: 3px solid #01134d;
}

.lin:hover {
    color: #ff6600;
    background-color: #01134d;
    transition: 0.3s ease-in;
}

.divider {
    height: 1px;
    box-shadow: 0 10px 3px #000;
}

.notable {
    font-size: 40px;
    font-weight: 700;
    color: #01134d;
    padding: 40px 20px;
}

.about {
    padding: 30px 20px;
}

.heading {
    font-size: 40px;
    font-weight: 700;
    color: #01134d;
}

.abt {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.accetosa {
    width: 20%;
}

.dsc {
    width: 77%;
    font-weight: 550;
    font-size: 18px;
    line-height: 25px;
    color: #01134d;
    text-align: justify;
}

.accetosa-logo {
    box-shadow: 1px 1px 5px black;
}

.socialmedia {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cont {
    font-size: 17px;
    font-weight: 600;
    margin-top: 7px;
}

.accicon {
    color: #01134d;
    text-decoration: none;
    font-size: 28px;
}

.accicon:hover {
    color: #ff6600;
    transform: scale(1.1);
    transition: 0.5s;
}

.abt-cont {
    font-size: 18px;
    padding: 0px 20px;
    color: #01134d;
    line-height: 25px;
    color: #01134d;
    font-weight: 550;
    text-align: justify;
}


/* On smaller screens, decrease text size */

@media(max-width:1060px) {
    .prev1,
    .next1 {
        display: none;
    }
}

@media(max-width:1360px) {
    .dsc {
        font-size: 17px;
    }
    .accetosa-logo {
        width: 100%;
    }
}

@media(max-width:1150px) {
    .accicon {
        font-size: 24px;
    }
    .cont {
        font-size: 16px;
    }
}

@media(max-width:1010px) {
    .abt {
        flex-direction: column;
        align-items: center;
    }
    .accetosa {
        width: 80%;
    }
    .dsc {
        width: 100%;
        font-size: 18px;
    }
    .accicon {
        font-size: 34px;
    }
    .cont {
        font-size: 24px;
    }
}

@media(max-width:500px) {
    .dot1 {
        height: 7px;
        width: 7px;
    }
    .dots1 {
        /* background-color: aqua; */
        height: 30px;
    }
    .prev1,
    .next1 {
        font-size: 11px;
    }
    .activ {
        background-color: transparent;
        border: 2px solid #ff6600;
    }
    .dot1:hover {
        background-color: #fff;
        border: 2px solid #01134d;
    }
    .heading {
        font-size: 28px;
    }
    .accetosa {
        width: 90%;
    }
    .dsc {
        width: 100%;
        font-size: 18px;
    }
    .accicon {
        font-size: 30px;
    }
    .cont {
        font-size: 18px;
    }
    .abt-cont {
        font-size: 18px;
    }
    .lin {
        font-size: 15px;
        margin-bottom: 10px;
        width: 300px;
    }
    .alumni-menu {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 321px) {
    .prev1,
    .next1,
    .text {
        font-size: 11px
    }
    .lin {
        font-size: 12px;
    }
    .notable {
        font-size: 26px;
    }
    .heading {
        font-size: 26px;
    }
    .accicon {
        font-size: 24px;
    }
    .cont {
        font-size: 14px;
    }
    .dsc,
    .abt-cont {
        font-size: 14px;
    }
}